@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');
@font-face {
    font-family: Hey October;
    src: url(fonts/Hey\ October.ttf);
}
@font-face {
    font-family: Bebas Neue;
    src: url(fonts/bebas-neue.ttf);
}

:root{
    --primary-color:#5596b6;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
    outline: none;border: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    padding-right: 6rem;
    background-color: var(--primary-color);
    border-bottom-left-radius:8rem;
    flex-wrap: wrap;
    z-index: 1;
}
header .logo-menu{
    display:flex;
    justify-content:center;
    align-items:center;
}
header .logo-menu .menu-bar{
    display:none;
    width: 6rem;
    height:6rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    border-radius: 100%;
    padding: 2rem;
    background-color: #3C1664;
}
header .logo-menu .logo img{
    width:95%;
    height: 95%;
    padding-left: 10rem;
}

header .navbar {
    display: none;
    gap: 3rem;
    flex-wrap: wrap;
}

header .navbar a{
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
}
header .navbar .search {
    align-items: center;
}

header .navbar .search i{
    width:2.5rem;
    text-align: center;
    position: relative;
    left: 3.5rem;
    font-size: 1.5rem;
    color: rgb(138, 137, 137);
}

header .navbar .search input{
    height:3rem;
    width:25rem;
    color: white;
    border-radius: .5rem;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    letter-spacing:.1rem;
}
@media (max-width:1024px) {
    html{
        font-size:55%;
    }
    body{
        padding: 0;
    }
    header{
       width:34.7%;
       flex-direction: column ;
       padding-right: 0rem;

    }

    header .logo-menu{
        width:100%;
        display:flex;
        justify-content:space-around;
        align-items:space-around;
    }
    header .navbar{
        width:100%;
    }
    header .navbar a{
        padding-top: 2rem;padding-bottom: 2rem;
    }
    header .logo-menu .menu-bar{
        display:block;
    }
    header .logo-menu .logo{
        margin-top:2rem;margin-bottom:2rem;
        text-align: center;
        
        
    }
    header .logo-menu .logo img{
        width:70%;
        height: 95%;
        padding-left: 0rem;
    }
    header .navbar {
        flex-flow: column;
        gap:0rem;
        
    }
    header .navbar a {
        text-align: center;
        padding-top: 1.5rem;padding-bottom: 1.5rem;
    }

    header .navbar .search{
        display:flex;
        justify-content:center;
        align-items:center;
        margin-top:2rem;margin-bottom:2rem;
    }
    header .search  {
        margin-bottom: 3rem;
    }
}
/** Section Carrousel**/

.principal-carrousel .list-carrousel .image-carrousel{
    
    position: relative;
}
.principal-carrousel .list-carrousel .image-carrousel img{
    width:100%;
    height:70rem;
    object-fit: cover;
    
}
.principal-carrousel .left-selection {
    cursor:pointer;
}
.principal-carrousel .left-selection i{
    position:absolute;
    left:4rem;
    top:42rem;
    font-size:  4rem;
    color: var(--primary-color);
    z-index: 1;
}
.principal-carrousel .right-selection {
    cursor:pointer;
}
.principal-carrousel .right-selection i{
    position:absolute;
    right:4rem;
    top:42rem;
    font-size:  4rem;
    color: var(--primary-color);
    
}

/**Section Products**/
.products{
    margin-top:8rem;
}
.products h3{
    text-align:center;
}

.title-1{
    font-size: 5rem;
    text-transform: uppercase;
    color:#3C1664;
}
.title-2{
    position: relative;
    top:-1.9rem;
    font-family: 'Hey October', sans-serif;                                               
    font-size: 10rem;
    text-transform: uppercase;
    color:#3C1664;
}
.list-card-product{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.list-card-product .card-product{
    width: 30rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.list-card-product .card-product img{
    width:25rem;
    border-bottom-left-radius: 3rem;
    padding-bottom: 1rem;
}

.list-card-product .card-product p{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: normal;
    color:rgb(143, 142, 142);
}



.list-card-product .card-product .product-name{
    text-transform: uppercase;
    letter-spacing:.2rem;
    font-weight: bolder;
    font-size: 2rem;
    color: #3C1664;
}

.list-card-product .card-product .detalle-precio{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:1rem;
    
    
}

.list-card-product .card-product .detalle-precio h3{
    font-size:1.5rem;
}

.list-card-product .card-product .detalle-precio a{
    background-color: #3C1664;
    border-radius: .2rem;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    
}

.list-card-product .card-product .detalle-precio i{
    font-size: 1.5rem;
    color: white;
    padding-right: .5rem;
    
}
/**Section About**/
.about{
    width: 100%;
    margin-top:8rem;
    position:relative;
}
.about .image-principal{
    width: 100%;
    height:65rem;
    object-fit: cover;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
}

.about .fondo-style{
    width: 100%;
    height:65rem;
    position:absolute;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    left:0;top:0;
    opacity: .4; 
    background-color: rgb(86,247,174);  
}
.about .card-presentation{
    width: 80%;
    display:flex;
    justify-content: center;
    position: absolute;
    top:10%;left: 10%;
}
.about .card-presentation .description-presentation{
    width:65%;
    border-bottom-left-radius: 10rem;
    box-shadow: -0.2rem 1.5rem 2rem 1rem rgba(0,0,0,0.43);
    padding-left: 10rem;padding-right: 10rem;padding-top: 4rem;padding-bottom: 6rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items:center;
    background-color:white;
    
}
.about .card-presentation .description-presentation p{
    font-size:1.7rem;
    letter-spacing: .1rem;
    text-align: center;
    line-height:2.8rem;
    color: rgb(92, 92, 92);
}
.about .card-presentation .description-presentation span{
    font-size:1.7rem;
    font-style: italic;
    font-weight:bold;
    letter-spacing: .1rem;
    text-align: center;
    line-height:2.8rem;
    color: #3C1664;
    
}

.about .card-presentation .description-presentation a{
    margin-top:8rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
    background-color: #3C1664;
    border-radius: 2.5rem;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bolder;
}

.about .card-presentation .description-presentation a:hover{
    background-color:#542a81;
}

.about .card-presentation .carrousel-presentation{
    width:35%;
}

.about .card-presentation .carrousel-presentation .image-carrousel img{
    width:100%;
    object-fit:cover;
}
@media only screen and (max-width:1280px) {
    html{
        font-size:70%;
    }
    body{
        padding: 0;
    }
    .about .card-presentation{
        width: 100%;
        left: 0%;
      
    }
    .about .card-presentation .carrousel-presentation{
        display:none;
    }
    .about .card-presentation .description-presentation{
        padding-left: 5rem;padding-right: 5rem;padding-top: 2rem;
    }
}
@media only screen and (max-width:1024px) {
    html{
        font-size:60%;
    }
    .list-card-product .card-product{
        margin-bottom: 5rem;
    }
}
@media only screen and (max-width:768px) {
    html{
        font-size:40%;
    }

}
@media only screen and (max-width:480px) {
    html{
        font-size:28%;
    }
}
@media only screen and (max-width:320px) {
    html{
        font-size:20%;
    }
}

/** Section Marcas **/

.alliances{
    width:100%;
    padding-left: 18rem;padding-right: 10rem;
    margin-top:12rem;
}

.alliances .carrousel-logo{
    display: block;
}

.alliances .carrousel-logo .marca img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


@media only screen and (max-width:768px) {
    .alliances{
        padding-top:2rem;
    }

    .alliances .carrousel-logo .marca img{
        max-width: 70%;
    }

}
@media only screen and (max-width:650px) {

    .alliances{
        padding-top:4rem;
    }
    .alliances .carrousel-logo .marca img{
        max-width: 60%;
    }

}
@media only screen and (max-width:480px) {
    .alliances .carrousel-logo .marca img{
        max-width: 50%;
    }
}
@media only screen and (max-width:320px) {
    .alliances .carrousel-logo .marca img{
        max-width: 40%;
    }
}
/**Section Eventos**/
.events{
    width:100%;
    margin-top:8rem;
    text-align:center;

}

.events .description-area{
    width:80%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    background-color:#7ED557;
    position: relative;
    border-bottom-right-radius: 10rem;
}

.events .description-area .image-event{
    width:45%;
    position: absolute;
    top: 0;left: -4rem;
}

.events .description-area .image-event img{
    width:88%;
    border-bottom-right-radius: 10rem;
    object-fit: cover;
}
.events .description-area .description-event{
    width:55%;
    padding:6rem 2rem 4rem 2rem;
    
}

.events .description-area .description-event .title-3{
    font-family: "Bebas Neue", Roboto;
    line-height:7rem;
    font-weight: normal;
    font-size: 5.8rem;
    text-align: left;
    color:#3C1664;
    margin-bottom: 4rem;
}

.events .description-area .description-event p{
    text-align: left;
    font-size:1.7rem;
    line-height:3rem;
    padding-bottom: 2rem;
    color:white;
}
.events .description-area .description-event .p-2{
    padding-bottom:5rem;
}

.events .description-area .description-event a{
    padding: 1.5rem 3rem 1.5rem 3rem;
    background-color: #3C1664;
    border-radius: 2.5rem;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bolder;
}
.events .description-event a:hover{
    background-color:#542a81;
}

@media only screen and (max-width:1280px) {
    .events .description-area{
        padding-top: 4rem;
        justify-content:center;
    }
    .events .description-area .image-event{
        display: none;
    }
    .events .description-area .description-event{
        width:70%;  
    }
}

.footer{
    width:100%;
    margin-top:8rem;
    padding-top:1.5rem; padding-bottom:1.5rem;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #330466;
    
}
.footer .social-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer .social-redes img{
    width:90%;
    margin-bottom: 1rem;
}
.footer .social-redes .links-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.footer .social-redes .links-redes a{
    color: white;
    font-size: 1.8rem; 
}

.title-link h3{
    color: white;
    font-size: 4.5rem;
    font-family: 'Hey October', sans-serif;
    margin-bottom: 2rem;
}

.title-link a{
    padding: 1rem 2rem 1rem 2rem;
    border: 1px solid white;
    border-radius: 5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    background-color:#330466;
}
.title-link a:hover{
    background-color:#542a81;
}
@media only screen and (max-width:768px) {
    .footer .social-redes img{
        width: 60%;
    }
    .footer .social-redes .links-redes a{
        font-size:2rem;
    }
    
}
@media only screen and (max-width:480px) {
    .footer .social-redes .links-redes a{
        font-size:3rem;
    }
}

/** Redes Sociales **/
.whatsapp {
    position:fixed;
    width:6rem;
    height:6rem;
    bottom:4rem;
    right:4rem;
    background-color:#25d366;
    color:#FFF;
    border-radius:50%;
    text-align:center;
    font-size:3rem;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:1.3rem;
  }

.messenger{
    position:fixed;
    width:6rem;
    height:6rem;
    bottom:12rem;
    right:4rem;
    background-color:#3578E5;
    color:#FFF;
    border-radius:50%;
    text-align:center;
    font-size:3rem;
    z-index:100;
}

.messenger i{
    margin-top:1.3rem;
}


@media only screen and (max-width:480px) {
    .whatsapp {
        position:fixed;
        width:6rem;
        height:6rem;
        bottom:4rem;
        right:4rem;
        background-color:#25d366;
        color:#FFF;
        border-radius:50%;
        text-align:center;
        font-size:3rem;
        z-index:100;
      }
      
      .whatsapp-icon {
        margin-top:1.3rem;
      }
    
    .messenger{
        position:fixed;
        width:6rem;
        height:6rem;
        bottom:12rem;
        right:4rem;
        color:#FFF;
        border-radius:50%;
        text-align:center;
        font-size:3rem;
        z-index:100;
    }
    
    .messenger i{
        margin-top:1.3rem;
    }
}
@media only screen and (max-width:768px) {
    .whatsapp {
        width:10rem;
        height:10rem;
        font-size:6rem;
      }
      
      .whatsapp-icon {
        margin-top:2rem;
      }
    
    .messenger{
        width:10rem;
        height:10rem;
        font-size:6rem;
        bottom:15rem;
    }
    
    .messenger i{
        margin-top:2rem;
    }
}
